@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&family=Lato:wght@100&display=swap");

.container {
  height: 100vh;
  background: url("../images/desert.jpg") center center no-repeat;
  background-size: cover;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/*************************************
WEATHER CONTAINER
*************************************/

.weather-container {
  display: block;
}

/*************************************
WEATHER NOW
*************************************/

.weather {
  min-height: 50vh;
  font-size: 1.2rem;
  text-transform: full-width;
  min-width: 70vh;
  letter-spacing: 0.2rem;
  justify-content: center;
  align-items: center;
}

.info-container {
  margin-left: 20%;
  margin-right: 20%;
}

.high-low-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-left: 7px;
  margin-right: 7px;
  margin-top: 2.5rem;
}

/********************
city & description
*/

.city-description {
  margin-top: 4rem;
  line-height: 2.2rem;
}

.city {
  font-size: 5.5rem;
  font-weight: bolder;
  letter-spacing: 0.5rem;
  font-family: "Josefin Sans";
}

/********************
basic info
*/

.basic-info {
  display: flex;
  /* justify-content: space-around; */
  align-items: center;
  margin-top: 2rem;
  justify-content: space-around;
}

.temp {
  font-size: 5.7rem;
  font-weight: bolder;
}

.icon {
  transform: scale(7);
  margin-left: 60px;
}

.temp-feel {
  line-height: 1rem;
}

/*************************************
SEARCH FORM
*************************************/

.search-bar {
  display: flex;
  width: 50vh;
  justify-content: center;
  text-align: center;
}

input[name="city"] {
  background: transparent;
  color: #ffd8b1;
  border: none;
  border-bottom: 2px solid black;
  border-radius: 2px;
  font-size: 1rem;
  font-weight: bold;
  outline: 0;
}

input[name="city"]:active,
input[name="city"]:focus {
  background: transparent;
  color: #ffd8b1;
  border: none;
  border-bottom: 2px solid black;
  border-radius: 2px;
  font-size: 1rem;
  font-weight: bold;
  outline: 0;
}

form .form-control::-moz-placeholder {
  color: #ffd8b1;
  opacity: 0.5;
}
form .form-control:-ms-input-placeholder {
  color: #ffd8b1;
  opacity: 0.5;
}
form .form-control::-webkit-input-placeholder {
  color: #ffd8b1;
  opacity: 0.5;
}

/*************************************
FORECAST FORM
*************************************/

.forecast-container {
  display: flex;
}
